@import "tailwindcss";

@font-face {
  font-family: "Qalbi";
  src: url("/fonts/qalbi.otf") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@theme inline {
  --font-sans: var(--font-cairo);
  --font-qalbi: "Qalbi", sans-serif;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}
